<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Section: Contact v.2-->
    <section class="mb-4">
      <!--Section heading-->
      <h2 class="h1-responsive font-weight-bold text-center my-4">KONNEX</h2>
      <!--Section description-->
      <div
        style="
          width: 70%;
          background-color: lightgray;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 10px;
          margin-bottom: 20px;
        "
        class="container"
      >
        <h3 class="font-weight-bold text-center">Bug Report</h3>
        <p class="text-center w-responsive">Please be detailed as possible</p>
      </div>
      <div class="row">
        <!--Grid column-->
        <div class="container col-md-8 mb-5">
          <form
            id="contact-form"
            name="contact-form"
            action="mail.php"
            method="POST"
          >
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <label class="required">Name:</label>

                <style>
                  .required:after {
                    content: " *";
                    color: red;
                  }
                </style>
              </div>
              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                  />
                  <small for="name" class="">First Name</small>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="form-control"
                  />
                  <small for="email" class="">Last Name</small>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->

            <br />

            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <label class="required">Email</label>

                <style></style>
              </div>

              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input
                    type="text"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <!--Grid row-->
            <br />
            <!--Grid row-->
            <div class="row">
              <div class="col-md-12">
                <label class="required"
                  >Date and time you first noticed the bug:</label
                >

                <style></style>
              </div>

              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <img
                    src="https://www.ciee.org/sites/default/files/content/blog/isadoradean97/n2nro.png"
                    style="height: 40px; width: 40px"
                  />
                </div>
              </div>
            </div>
            <!--Grid row-->
            <div class="row mt-2">
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="col-md-2">
                <div class="md-form mb-0">
                  <input
                    type="number"
                    id="subject"
                    name="subject"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <!--Grid row-->

            <br />
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <label class="required">Detailed Explaination of bug</label>

                <style>
                  .required:after {
                    content: " *";
                    color: red;
                  }
                </style>
              </div>

              <div class="col-md-12">
                <div class="md-form">
                  <textarea
                    type="text"
                    id="message"
                    name="message"
                    rows="2"
                    class="form-control md-textarea"
                  ></textarea>
                </div>
              </div>
            </div>
            <!--Grid row-->
          </form>

          <div class="text-center">
            <a
              class="btn btn-primary"
              onclick="document.getElementById('contact-form').submit();"
              >Send</a
            >
          </div>
          <div class="status"></div>
        </div>
        <!--Grid column-->
      </div>
    </section>
    <!--Section: Contact v.2-->
  </body>
</html>
