{% extends "base.html" %}
{% block content %}
<style>
    .parallax {
  background-image: url("https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/81950/s960_ODI-disability-sector-champion-960.jpg");
  min-height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 20px;
}
h1,h2,h3,h4{
    font-family: 'Noto Serif', serif;
}
p{font-size: large;}
button:hover{ color: white; background-color: black;}
</style>
<h2 style="margin: 25px;">Disability Assistance</h2>
<div class="parallax"></div>
<div class="row m-4">
    <p>We welcome the opportunity to provide caring customer service to our customers with disabilities. To be able to assist you the best, we request you to notify us of your special needs/wheelchair request at least forty eight (48) hours prior to the schedule departure of your flight. While making your booking please let us know how we can best assist you and what seat will best accommodate your needs. If you arrive at the airport without a seat assignment, we will make every effort to provide the requested accommodation.</p> <br>
    <p><strong>Note: In compliance with current regulations, if any of our customer has limited mobility, is hearing or visually impaired, is unable to understand/react to safety instructions, we will be unable to allocate a seat in the emergency exit rows.</strong></p> <br>
    <p>To ensure a seamless check-in and boarding experience, we request you to report at least two (2) hours prior to the scheduled time of flight departure at the reservation counter.</p> <br>
    <h4>Lavatory</h4> <br>
    <p>A lavatory with a single panel door (except a few aircraft where we have bi-folding door) and additional grab bar is available on all our aircraft. Our cabin crew can provide assistance in moving to and from the lavatory door, but will not be able to assist you inside the lavatory.</p> <br>
    <h4>Boarding</h4> <br>
    <p>We offer pre-board courtesy for all our customers needing assistance and are requested to let the gate staff know of the need to pre-board and are requested to be in the gate area when pre-boarding begins.  Please note that our boarding gates close twenty-five (25) minutes (domestic) and twenty-five (25) minutes (international) prior to the scheduled departure time, post which boarding is not allowed. Also note that some airports are silent airports and there are no pre-departure announcements made.</p> <br>
    <p>Our cabin crew members are trained in providing first aid assistance and the following assistance to you</p> <br>
    <ul class="m-4">
        <li><p>An individual safety briefing to any customer who may need the assistance of another person to move expeditiously to an exit in the event of an emergency</p></li>
        <li><p>An Individual safety briefing to any customer whose disability prevents them from comprehending the safety information presented during our safety briefing.</p></li>
        <li><p>Assistance with stowing and retrieving carry-on and assistive devices.</p></li>
        <li><p>Assistance with opening food and drink items.
        </p></li>
    </ul>
    <br>
    <p>The following are relevant for our customers requiring disability assistance:</p> <br>
    <ol class="m-4">
        <li><p>Requirement of traveling with a Safety Assistant</p></li>
        <li><p>Service dog</p></li>
        <li><p>Mibility Assistance</p></li>
        <li><p>Spinal Support Equipment (SSE)</p></li>
        <li><p>Portable oxygen concentrators (POC)</p></li>
        <li><p>Customer with Intellectual disability/Dementia/Alzheimer/Autism and Down syndrome</p></li>
        <li><p>Customers with certain adverse medical conditions</p></li>
        <li><p>Traveling with broken limbs</p></li>
    </ol>
</div>
{%endblock%}